* {
    margin:0;
    padding:0;
}
.container {
    text-align: center;
    border: 2px solid rgb(13, 7, 13);
    border-radius: 10px;
    margin-left:1rem;
    width: 50%;
    background-color: #282c34;
    padding-bottom:25px;
}
h1{
    color:white;
    font-family: 'Arvo', serif;
    padding-top:25px;
    padding-bottom:10px;
}

#Appbar-txt{
    background-color: rgb(76, 143, 202);
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:75px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;

}
#outlined-basic{
    color: white;
    border: 1.5px solid #b61aae;
    border-radius: 5px;
      
    
  
}
#Addbtn{
    height: 57px;
    color:white;
    border: 1px solid #b61aae;
    margin-bottom: 10px;   
    background: linear-gradient(90deg,rgba(182, 26, 174, 0.528),rgb(182, 26, 174));
   
}

#Appbar{
  
    background: linear-gradient(90deg,rgba(182, 26, 174, 0.528),rgb(182, 26, 174));
  
    margin-top:10px;
    /* width: 500px; */
    height: 50px;
    display: flex;
    overflow: auto;
    justify-content: space-around;
    

}

#task{
   text-align: left;
   padding-left:10px;
   display: inline-block;

}

.btn-icon {
    float: right;
    color: white;
    
}

#edit-txt{
    height:15px;
    color: white;
}
#btn-delete{
    color: white;

}



.container {
    max-width: 1349px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
      max-width: 1349px;
    }
    #Appbar{
        width:255%;
        margin-left: 90px;
    }
    #outlined-basic{
        width: 320px;
    }
    #Addbtn{
        width:150px;
    }
   
  }
  
  /* xl */
  @media (max-width: 1280px) {
    .container {
      max-width: 1024px;
    }
    #Appbar{
        width:200%;
        margin-left: 85px;
    }
    #outlined-basic{
        width: 290px;
    }
    #Addbtn{
        width:130px;
    }
  }
  
  /* lg */
  @media (max-width: 1024px) {
    .container {
      max-width: 768px;
    }
    #Appbar{
        width:150%;
        margin-left: 80px;
    }
    #outlined-basic{
        width: 270px;
    }
    #Addbtn{
        width:100px;
    }
  }
  
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 640px;
    }
    #Appbar{
        width:100%;
        margin-left: 70px;
    }
    #outlined-basic{
        width: 250px;
    }
    #Addbtn{
        width:70px;
    }
  }
  
  /* sm */
  @media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
     #Appbar{
        width:80%;
        margin-left: 60px;
    }

    #outlined-basic{
        width: 90px;
    }
    #Addbtn{
        width:50px;
    }
   
  }
  
  /* xs */
  @media (max-width: 475px) {
    .container {
    max-width: 320px;
    }
    #Appbar{
        width:70%;
        margin-left: 50px;
    }
    #outlined-basic{
        width: 40px;
    }
    #Addbtn{
        width:30px;
    }
    
  }

  @media (max-width: 320px) {
    .container {
    max-width: 120px;
    }
    #Appbar{
        width:60%;
        margin-left: 40px;
    }
    #outlined-basic{
        width: 30px;
    }
   
  }